extends layout

block content
	#feedback

		if fedBack
			p.highlight Thanks for your submission at #{time}!


		h1 Tell us... Show us...

		h2 What do you think of the performance so far?

		p	It's #{time}

		form(action="/feedback/", method="post", enctype="multipart/form-data")
			div
				p
				label Tell us what you think:
					br
					textarea(name="feedback_text", rows="4")

				p
					label Would you like to upload a photo or movie too:
						br
						input(type="file", name="feedback_file")


				//p Emotions
				//	input(type="checkbox", name="emot_happy", value="happy")
				//	input(type="checkbox", name="emot_sad")
				//	input(type="checkbox", name="emot_angry")
				//	input(type="checkbox", name="emot_angry")

				br
				p
					input(type="submit",value="Send")

		p
			small We'll assume its OK for us to use your submissions for academic music research - and thanks!
				|  See #[a(href="/type/journal/56926059d2bee4a7c7a13457") about] for more information