include mixins

doctype html
html
	head
		title= pagetitle
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		#header
			| Performances

		#body
			block content

		#footer
			p
				a(href="/about") About
				a(href="") Feedback