body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #ddd;
}

a {
  color: #00816A;
}

a:hover {
    color: #44aadd;
    transform: scale(1.2);
}

p {
    line-height: 1.5;
    padding: 0 5px;
}

html,
body {
    margin:0;
    padding:0;
    height:100%;
}
body {
    background-image: url("/images/8274599246_ca631f10dd_m.jpg");
    background-size: cover;
    background-attachment: fixed;
}
#container {
    min-height:100%;
    position:relative;
}
#header {
    -background:#ff0;
    padding:10px;
    background-color: #B5C0D4;
}

#body {
    padding:10px;
    padding-bottom:30px;   /* Height of the footer */
    margin: 45px auto;
    width: 700px;
    -border: 3px solid #666;
    border-radius: 3px;
    background-color: rgba(229, 229, 229, 0.67);
}
#body:hover {
    background-color: rgb(235, 235, 235);
}

#footer {
    position:absolute;
    /*bottom:1*/ /* Doesn't stay at bottom on long pages */
    width:100%;
    height:30px;   /* Height of the footer */
}

#footer p {
    text-align:center;
    padding:0;
    margin:0;
}

#footer p a {
    margin: 0 10px;
    display: inline-block;
    color: #eee;
    text-decoration: none;
}

#header a {
    text-decoration: none;
}

#title, #data {
    display: inline-block;
    -height: 150px;
    width: 300px;
    text-align: center;
    vertical-align: top;
    padding: 0;
}
#title {
    padding: 10px 20px 0 50px
}
#data {
    font-size: 20px;
}

.featuring p {
    margin-bottom: 0;
}
.featuring ul {
    margin-top: 0;
    padding:0;
}
.featuring li {
    list-style: none;
    margin: 14px 0;
    font-size: larger;
}

.featuring a {
    text-decoration: none;
}



.iframe-wrap,
.iframe-wrap a {
    width:206px;height:136px;
    padding:0;
    margin:0;
}
.iframe-wrap iframe {
    position:absolute;transform-origin: 0 0;overflow: hidden;
}
.iframe-wrap a {
    display: block;
    position: absolute;
    color: transparent;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    word-wrap: break-word;
    text-decoration: none;
    background-color: rgba(0,0,0,0.1);
}
.iframe-wrap a:hover {
    background-color: rgba(0,0,0,0.5);color:white;
}

#seealso a {
}
#seealso li {
    display: inline-block;
    list-style: none;
    margin: 10px;
}

#seealso li span {
    display: none;
}

.sticker {
    transform: rotate(-15deg);
    padding: 5px 25px;
    position: absolute;
    margin: -10px -32px;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

#clockdiv{
    font-family: sans-serif;
    color: #000;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv > div{
    padding: 0 4px;
    border-radius: 3px;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
    color:white;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

@media only screen and (min-width: 480px) and (max-width:767px) {
    #body {
        padding: 10px;
        padding-bottom: 30px; /* Height of the footer */
        margin: 45px auto;
        width: 400px;
    }

    #title, #data {
        padding: 10px;
        margin: 0 auto;
        width: auto;
        display:block;
    }
}

@media only screen and (max-width:479px) {
    #body {
        padding: 10px;
        padding-bottom: 30px; /* Height of the footer */
        margin: 0;
        width: auto;
    }

    #title, #data {
        padding: 0;
        margin: 0 auto;
        width: auto;
        display:block;
    }
}