extends ../layout

block content
	h1 Data

	ul
	each result in results
		li
			a(href="/_data/" + result._id) #{result["annal:type_id"] + " - " + (result["rdfs:label"] || result["foaf:name"] || "No label") }
