extends ../layout

block content
	h1 Carolan Guitar

	ul
	each result in results
		li
			a(href=result._id) #{result["annal:type_id"] + " - " + (result["rdfs:label"] || result["foaf:name"] || "No label") }
